<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <location path="." allowOverride="false" inheritInChildApplications="false">
      <system.webServer>
          <staticContent>
              <remove fileExtension=".woff" />
              <remove fileExtension=".woff2" />
              <remove fileExtension=".json" />
              <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
              <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
              <mimeMap fileExtension=".json" mimeType="application/json" />
          </staticContent>
          <defaultDocument>
            <files>
              <remove value="index.html" />
              <add value="login.html" />
            </files>
          </defaultDocument>
          <httpErrors errorMode="Custom" existingResponse="Replace">
            <clear />
            <error statusCode="404" path="pages\404.html" />
          </httpErrors>
      </system.webServer>
  </location>
</configuration>